.home {
    .intro {
      position: relative;
    }
    .introimg {
        width: 100%;
    }

    .intro h2 {
        position: absolute;
        bottom: 0;
        padding-left: 60px;
        padding-bottom: 45px;
        font-weight:  @jumbot-head-font-weight;
        font-size: @jumbot-head-font-size;
        color: @jumbot-head-color;
        line-height: @jumbot-head-line-height;

}
}
.mainbody {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: @gen-text-font-size;
    font-weight: @gen-text-font-weight;
    line-height: @gen-text-line-height;
    
    .firstsection {
        display:flex;
        flex-direction: row;
        padding-top: 35px;
        padding-bottom: 35px;
    
    }
 
 .tabs {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    margin: auto;
    .servicesTabs {
        display: flex;
        justify-content: space-around;
        .tabs-link {
            background-color: #FFFFFF;
            border: 1px solid black;
            font-size: 18px;
            font-weight:   @sub-head-font-weight;
            padding: 10px;
            width: 185px;
            &:hover {
                background-color:rgb(47, 191, 240);
                color: white;
            }
        }
        .tabs-link-selected {
            background-color: rgb(47, 191, 240);
        }
    }
    .tabs-item {
        display: none;
    }
    .tabs-item-selected {
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        .textContent {
            width: 45%;
            line-height: 24px;
            h2 {
                font-size: 1.6rem;
                font-weight: bold;
                padding-bottom: 15px;
            }
            p {
                padding-bottom: 10px;
            }
        }
        img {
            width: 45%;
        }
    }
 }
}